<html>
	<head>
		<title>Sample</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
	</head>
	<body ng-app>
		<div>
            <h1>Double binding!</h1>
            <h2>{{ text1 }}</h2>
            <h3> Hallo, {{ name }}</h3>
            <h3> {{ text1 }}, {{ text2 }}</h3>
            <input type="text" ng-model="text1" />
            <input type="text" ng-model="text2" />
        </div>      

        <div>
            <h1>Calculator</h1>
            <input type="number" ng-model="number1"/>
            +
            <input type="number" ng-model="number2"/>
            = {{ number1 + number2 }}
            
        
        </div>
        
        
	</body>
</html>